# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Thumbnails
ehthumbs.db
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
